

.categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.categories ul li {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.categories ul li:hover {
  background-color: #b36f17e5;
	box-shadow: 0 0 7px 3px #b36f17e5;
  color: #fff;
	-webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: all 0.3s linear;
	
}

.categories ul li:active {
  background-color: #ececec
}

.categories ul li.active {
  background-color: #b36f17e5;
	box-shadow: 0 0 7px 3px #b36f17e5;
  color: #fff;
	-webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: all 0.3s linear;
}